{% extends "base.html" %}

{% block title %}Blog - Users list{% endblock %}

{% block container%}
<div class="row">
    <div class="col position-relative">
        <h4 class="card-info-label mb-3">Lista de usuarios</h4>
        <a href="{% url 'users:signup' %}" class="btn form-button-teal floating">
            <i class="fas fa-plus"></i> Agregar Usuario
        </a>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr scope="row">
                        <th scope="col">Usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr scope="row">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            <a role="edit" class="btn btn-info" href= "{% url 'users:edit' user.pk %}">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a role="delete" class="btn btn-danger" href="{% url 'users:delete' user.pk %}">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function() {
        $('.table')
        .on('click', '[role="delete"]', function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            let $loading = showLoading();

            $.get($(this).attr('href'), function(html) {
                $.confirm({
                    type: 'red',
                    columnClass: 'medium',
                    icon: 'fas fa-exclamation-triangle',
                    title: '¡Atención!',
                    content: html,
                    buttons: {
                        back: { 
                            text: '<i class="fas fa-chevron-left mr-2"></i> Regresar'
                        },
                        accept: {
                            btnClass: 'btn-danger',
                            text: 'Eliminar <i class="fas fa-trash ml-2"></i>',
                            action: function() {
                                let $loading = showLoading();

                                this.$content.find('form').submit();
                            }
                        }
                    }
                });

                $loading.close();
            });
        })
    });
</script>
{% endblock %}