{% extends "base.html" %}
{% block title %} Users list {% endblock %}
{% block container%}

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.username }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td><a class="btn btn-primary" href= "">Edit</button></td>
                    <td><a class="btn btn-danger" href="">Delete</button></td>    
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    
</div>
<!-- /coach/edit/{{ coach.pk }}
/coach/{{ coach.pk }}/delete/
-->
{% endblock %}