{% extends "base.html" %}

{% block title %} Información {% endblock %}

{% block container %}

<div class="container my-5">
    <strong>Ubicación</strong> 
    <p>Unnamed Road, 63709 Nay., México
        Hacienda Pueblo Libertad.
         </p>
         <a href="https://goo.gl/maps/g7S9viaELD23T89c7" target="_blank"><img alt="Imagen simbolo maps" src="https://i.imgur.com/rJuUnYn.png" width="120" 
            height="120" 
            
            ></a>
        
</div>
<div class="container my-5">
    <strong>Contacto</strong> 
    <p>Redes sociales
         </p>
         <a href="https://www.facebook.com/nextel.silva" target="_blank"><img alt="Imagen simbolo facebook" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" width="120" 
            height="120" 
            
            ></a>
</div>
{% endblock %}