{% extends "base.html" %}

{% block title %}Editar - {{ post.title }}{% endblock %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card bg-light">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.pk }}" />
                        <h4 class="card-info-label mb-3">Editar</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="id_title">
                                        <i class="fas fa-bookmark"></i> Título
                                    </label>
                                    <input
                                        id="id_title"
                                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                        type="text"
                                        name="title"
                                        placeholder="Título"
                                        value="{{ post.title }}"
                                    >
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}{{ error }}{% endfor %}
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label" for="id_category">
                                        <i class="fas fa-tag"></i> Categoría
                                    </label>
                                    <input
                                        id="id_category"
                                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                        type="text"
                                        name="category"
                                        placeholder="Categoría"
                                        value="{{ post.category }}"
                                    >
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}{{ error }}{% endfor %}
                                    </div>
                                </div>
                                {% if post.eventType == 2 %} 
                                <div class="form-group">
                                    <label class="form-label" for="id_eventDateTime">
                                        <i class="fas fa-calendar-week"></i></i> Fecha y hora
                                    </label>
                                    <input type="datetime-local" id="id_eventDateTime" name="eventDateTime"
                                
                                    min="2021-02-11" max="2040-12-31">
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}{{ error }}{% endfor %}
                                    </div>
                                </div>
                                {% endif %}     
                            </div>
                            {% if post.image %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="id_image">
                                        <i class="fas fa-image"></i> Imagen
                                    </label>
                                    <div class="input-group">
                                        
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-thumbnail img-thumb">
                                        <input
                                            id="id_image"
                                            class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                                            type="file"
                                            name="image"
                                            placeholder="imagen"
                                        >
                                    </div>
                                    <div class="invalid-feedback">
                                        {% for error in form.photo.errors %}{{ error }}{% endfor %}
                                    </div>
                                </div>        
                            </div>
                            {% endif %}
                        </div>
                        {% if post.facebookLiveVideoLink %}
                        <div class="form-group">
                            <label class="form-label" for="id_facebookLiveVideoLink">
                                <i class="fas fa-link"></i> Facebook Live Video Link
                            </label>
                            <input
                                id="id_facebookLiveVideoLink"
                                class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                type="text"
                                name="facebookLiveVideoLink"
                                placeholder="Facebook Live Video Link (optional)"
                            >
                            <div class="invalid-feedback">
                                {% for error in form.facebookLiveVideoLink.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if post.facebookVideoLink %}
                        <div class="form-group">
                            <label class="form-label" for="id_facebookVideoLink">
                                <i class="fas fa-link"></i> Facebook Video Link
                            </label>
                            <input
                                id="id_facebookVideoLink"
                                class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                type="text"
                                name="facebookVideoLink"
                                placeholder="Facebook Video Link (optional)"
                            >
                            <div class="invalid-feedback">
                                {% for error in form.facebookVideoLink.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="form-group">
                            <label class="form-label" for="id_body">
                                <i class="far fa-keyboard"></i> Cuerpo
                            </label>
                            <textarea 
                                id="id_body"
                                class="form-control mb-3"
                                type="text"
                                name="body"
                                rows="15"
                                placeholder="Cuerpo"
                            >{{ post.body }}</textarea>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group text-center">
                                    <a class="btn form-button-teal" href="{% url 'posts:detail' post.id %}">
                                        <i class="fas fa-chevron-left"></i> Regresar
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn form-button-teal">
                                        Guardar <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}