{% extends "base.html" %}

{% block title %} Información {% endblock %}

{% block container %}

<div class="row justify-content-center">
    <div class="col col-md-10">
        <div class="card bg-light">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    {% csrf_token %}
                    <input type="hidden" id="id_eventType" name="eventType" value="2">
                    <h4 class="card-info-label mb-3">Crear un evento</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <!--<div class="form-group">
                                <label class="form-label" for="id_eventType">
                                    <i class="fas fa-calendar-week"></i></i> Tipo
                                </label>
                                <input type="number" id="id_eventType" name="eventType"
                                    
                                    value="2">
                                    
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}{{ error }}{% endfor %}
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="form-label" for="id_title">
                                    <i class="fas fa-bookmark"></i> Título
                                </label>
                                <input
                                    id="id_title"
                                    class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                    type="text"
                                    name="title"
                                    placeholder="Título"
                                >
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}{{ error }}{% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="id_category">
                                    <i class="fas fa-tag"></i> Categoría
                                </label>
                                <input
                                    id="id_category"
                                    class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                                    type="text"
                                    name="category"
                                    placeholder="Categoría"
                                >
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}{{ error }}{% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="id_eventDateTime">
                                    <i class="fas fa-calendar-week"></i></i> Fecha y hora
                                </label>
                                <input type="datetime-local" id="id_eventDateTime" name="eventDateTime"
                                    
                                    min="2021-02-11" max="2040-12-31">
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}{{ error }}{% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_image">
                                    <i class="fas fa-image"></i> Imagen
                                </label>
                                <input
                                    id="id_image"
                                    class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                                    type="file"
                                    name="image"
                                    placeholder="imagen"
                                >
                                <div class="invalid-feedback">
                                    {% for error in form.photo.errors %}{{ error }}{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="id_body">
                            <i class="far fa-keyboard"></i> Cuerpo
                        </label>
                        <textarea
                            id="id_body"
                            class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                            type="textarea"
                            name="body"
                            placeholder="Cuerpo"
                            rows="15"
                        ></textarea>
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="form-group text-center">
                                <button type="submit" class="btn form-button-teal">
                                    ¡Publicar! <i class="fas fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}