{% extends "base.html" %}

{% block title %}Blog - Inicio{% endblock %}

{% block container %}
    <div class="row">
        {% for post in posts %} 
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-img-top card-img-container">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="card-info-label">{{ post.category }}</span>
                            <a href="{% url 'posts:detail' post.id %}" class="btn card-info-button">
                                Ver publicación <i class="form-anchor fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <h5 class="card-title">
                            <i class="fas fa-circle"></i>
                            {{ post.title }}
                        </h5>
                        <p class="card-text">{{ post.body | truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}