{% extends "base.html" %}

{% block title %} Información {% endblock %}

{% block container %}
<div class="container my-5">
    <strong>Honestidad, humildad y servicio para un Nuevo Amanecer</strong>
    
</div>   
<div class="container my-5">
    <strong>Objetivo</strong>
    <p>Ofrecer tratamientos de recuperación de forma grupal o internamientos y retiros espirituales (experiencia)
         </p>
    
</div>   
<div class="container my-5">
    <strong>Misión</strong>
    <p>La creciente  demanda por sustancias ilícitas y la fácil adquisición de ellas, el consumo de bebidas etílicas  
        y una  profunda depresión en la que vive un gran sector de la población,  hace que vivamos en una sociedad descompuesta y que surja la 
        necesidad de contrarrestar esta ola creciente entre los Mexicanos, por ello Nuevo Amanecer se presenta a la vanguardia en modelos de tratamiento, 
        prevención y rehabilitación enfermedades emocionales y adicciones.
         </p>
    
</div>  
<div class="container my-5">
    <strong>Visión</strong>
    <p> Establecer nuevos paradigmas en los procesos de recuperación generando información objetiva actual para las nuevas generaciones y la nueva realidad de la humanidad.
         </p>
    
</div>  

{% endblock %}