.navbar-brand-icon {
    color: var(--teal)
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card-img-container {
    max-height: 15rem;
    overflow: hidden;
}

.card-info {
    position: relative;
    margin-bottom: 10px;
}

.card-info-label {
    padding: 2px 10px;
    margin-left: 1px;
    border-left: 6px solid var(--teal);
}

.card-info-button {
    position: absolute;
    right: 0;
    top: -4px;
    padding: 3px 12px;
    background-color: var(--white);
    border: 1px solid var(--teal);
    border-radius: 30px;
}

.card-title [class^="fa"] {
    color: var(--teal);
    font-size: 0.5em;
    vertical-align: super;
}

.card-text {
    white-space: break-spaces;
}

.form-label {
    font-weight: bold;
}

.form-anchor {
    font-weight: bold;
    color: var(--teal);
    text-decoration: none;
}

.form-button-teal {
    border: 1px solid var(--teal);
    background-color: var(--white);
    color: var(--teal);
    width: 100%;
    border-radius: 30px;
    font-weight: bold;
}

.form-button-teal:hover,
.form-button-teal:active,
.form-button-teal:focus {
    color: var(--white);
    background-color: var(--teal);
}